<ul>
    <li><a href="/login">Login</a></li>
    {{!-- <li><a href="">Checkout</a></li>
    <li><a href="/search">Search Restaurant</a></li> --}}
    {{!-- <li><a href="">About us</a></li> --}} --}}
</ul>
<div id="container">
    <div id="content">
        <h1>About</h1>
    </div>
    <div id="content">
        <h1>Picture</h1>
    </div>
</div>
<footer></footer>