    <div class="form-container">
        <div id="login-form-container">
            <form action="/login" method="POST" id="login">
                <h1 id="form-title">Log in</h1>
                <p id="login-intro">Please enter your email and password:</p>
                <input type="text" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Password">
                <a href="#" id="forget-password">Forgot Password?</a>
                <button class="login-btn">login</button>
                
            </form>
            <div class="no-account">
                <p id="question">Don't have an account?</p>
            </div>
           <a href="/signup" style="text-decoration: none;"><div id="create">Create An Account</div></a> 
        </div>
    </div>

    <script src="./signin.js"></script>
